<ion-header>
  <ion-toolbar>
    <ion-title>Add Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="eventForm" #formDirective="ngForm" (ngSubmit)="submitHandler(formDirective)">
    <mat-form-field class="title">
      <input matInput placeholder="Event Title" formControlName="title">
      <mat-error *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)">
        <div *ngIf="f.title.errors.required">Event Title is required.</div>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input class="datePicker" matInput [matDatepicker]="dobPickerStart" placeholder="Start Date" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="dobPickerStart"></mat-datepicker-toggle>
      <mat-datepicker #dobPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input class="datePicker" matInput [matDatepicker]="dobPickerEnd" placeholder="End Date" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="dobPickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #dobPickerEnd></mat-datepicker>
    </mat-form-field>
  </form>
</ion-content>
{{eventForm.value | json}}
