<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
  <ion-button (click) = 'presentAddEventModal()'>Add Event</ion-button> 
</ion-header>

<ion-content>
 <!-- contentHeight="auto" Fix issue with calendar not rendering upon initial load -->
  <full-calendar #cal
  defaultView="dayGridMonth"
  [plugins]="calendarPlugins"
  [editable] = 'true'
  [events]= 'events'
  [weekends]="true"
  contentHeight="auto"
  (dateClick)="dateClick($event)" 
  (eventClick)="eventClick($event)" 
  (eventResizeStop)='eventResizeStop($event)'
  (eventResize)='eventResize($event)'
  (eventDrop)='eventDrop($event)'
></full-calendar>

</ion-content>
