<ion-header>
  <ion-toolbar>
    <ion-title>
      FullCalendar.io Demo wrapped in Angular 8+ and Ionic 4+
    </ion-title>
    <p style="padding-left: 20px;">FullCalendar alone does not have the ability to initialize a database connection and save events.
      In this demo, saving event state is provided by Angular and Firebase APIs.</p>

  </ion-toolbar>
  <!-- <ion-button (click) = 'presentAddEventModal()'>Add Event</ion-button>  -->
</ion-header>

<!-- <div #external>
  <p>
    <strong>Draggable Events</strong>
  </p>
  <div class='fc-event'>My Event 1</div>
  <div class='fc-event'>My Event 2</div>
  <div class='fc-event'>My Event 3</div>
  <div class='fc-event'>My Event 4</div>
  <div class='fc-event'>My Event 5</div>
</div> -->

<ul>
  <li><b>Add an Event: </b> Click a single date or drag across multiple dates.</li>
  <li><b>To move an event:</b> Click and drag on an event bar.</li>
  <li><b>View and edit an event:</b> Click on an event bar.</li>
</ul>


<ion-content>

  <!-- contentHeight="auto" Fix issue with calendar not rendering upon initial load -->
  <full-calendar #cal
  contentHeight="auto"
  defaultView="dayGridMonth"
  nextDayThreshold = '00:00:00'
  [selectable] = 'true'
  [plugins]="calendarPlugins"
  [editable] = 'true'
  [events]= 'events'
  [weekends]="true"
  contentHeight="auto"
  (select) = 'select($event)'
  (eventClick)="eventClick($event)" 
  (eventResizeStop)='eventResizeStop($event)'
  (eventResize)='eventResize($event)'
  (eventDrop)='eventDrop($event)'
  (eventRender)='eventRender($event)'
  ></full-calendar>
  <!-- <full-calendar #cal
  contentHeight="auto"
  defaultView="dayGridMonth"
  nextDayThreshold = '00:00:00'
  [selectable] = 'true'
  [plugins]="calendarPlugins"
  [editable] = 'true'
  [events]= 'events'
  [weekends]="true"
  contentHeight="auto"
  (select) = 'select($event)'
  (dateClick)="dateClick($event)" 
  (eventClick)="eventClick($event)" 
  (eventResizeStop)='eventResizeStop($event)'
  (eventResize)='eventResize($event)'
  (eventDrop)='eventDrop($event)'
  (eventRender)='eventRender($event)'
  ></full-calendar> -->
</ion-content>
