<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- contentHeight="auto" Fix issue with calendar not rendering upon initial load -->
  <full-calendar #cal
  defaultView="dayGridMonth"
  [plugins]="calendarPlugins"
  [weekends]="true"
  [events]= 'events'
  contentHeight="auto"
  [editable] = 'true'
  (dateClick)="handleDateClick($event)" 
  (eventDragStop)='eventDragStop($event)'
  (eventResizeStop)='eventResizeStop($event)'
></full-calendar>

</ion-content>
